/tests              export-ignore
/bin                export-ignore
/docs               export-ignore
/.wordpress-org     export-ignore
/.phpcs.xml.dist    export-ignore
/phpunit.xml.dist   export-ignore
/composer.json      export-ignore
/composer.lock      export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
